@page "/translate-program"
@inject TranslateProgramService service
<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="6000" Placement="ToastsPlacement.TopRight" />

<h1>Translate Program Skill</h1>
<form>
    <div class="form-group">
        <div class="form-group">
            <label for="from1">From Language</label>
            <select class="form-control" @bind="fromLang" id="from1">
                @foreach(var lang in Langs){
                    <option value="@lang">@lang</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="to1">To Language</label>
            <select class="form-control" @bind="toLang" id="to1">
                @foreach (var lang in Langs)
                {
                    <option value="@lang">@lang</option>
                }
            </select>
        </div>
        <label for="text1">Enter Code</label>
        <textarea type="text" @bind="Input" rows="8" class="form-control" id="text1" placeholder="Enter Code Here" />
    </div>
    <div class="form-group">
        <label for="text2">Translated Code</label>
        <textarea type="text" @bind="Result" rows="5" class="form-control" id="text2" readonly placeholder="Translated Code" />
    </div>
    <button type="button" @onclick="Process" disabled="@service.IsProcessing" class="btn btn-primary mt-2">Process</button>
    <button type="button" @onclick="CopyClipboard" disabled="@service.IsProcessing" class="btn btn-success mt-2">Copy</button>
    <button type="button" @onclick="Clear" disabled="@service.IsProcessing" class="btn btn-info mt-2">Clear</button>
</form>


@if (service.IsProcessing)
{
    <div class="spinner-border mt-2" role="status">
    </div>
}
@code {
    List<string> Langs = new List<string>()

    {
"Python",
"JavaScript",
"C++",
"C#",
"Java",
"Ruby",
"PHP",
"Go",
"Swift",
"TypeScript",
"SQL",
"Shell"
    }; 
    async Task Clear()
    {
        Input = string.Empty;
        Result = string.Empty;
    }
    List<ToastMessage> messages = new List<ToastMessage>();
    string fromLang = "C#", toLang;
    public string Input { get; set; }
    public string Result { get; set; }
    protected override async Task OnInitializedAsync()
    {
        fromLang = Langs[0];
        toLang = Langs[1];
        Input = @"def predict_proba(X: Iterable[str]):
            return np.array([predict_one_probas(tweet) for tweet in X])";
    }
    async Task CopyClipboard()
    {
        if (!string.IsNullOrEmpty(Result))
            await Clipboard.Default.SetTextAsync(Result);
    }
    private async Task Process()
    {
        if(fromLang == toLang)
        {
            var toast = new ToastMessage
                {
                    Type = ToastType.Warning,
                    Message = $"from and to must be different programming language.",
                };
            messages.Add(toast);
            return;
        }
        Result = await service.Translate(fromLang,toLang, Input);

    }
}
